div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: red;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: aquamarine;
    color: red;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.home-title {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    color: black;
    margin: 0;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h2{
    text-align: center;
    margin: 50px;
}
.msg {
    background-color: aquamarine;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.msg p {
    color: black;
    font-size: .8em;
    padding: 15px;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: aquamarine;
}
header {
    background-color: rgb(85, 68, 240);
}
body {
    background-color: white;
    font-family: cursive;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
.book, .join {
    background-color: aquamarine;
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: aquamarine;
    color: red;
}

footer {
    background-color: aquamarine;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: red;
    text-decoration: none;
}
footer a:hover {
    color: red;
}
footer .social img {
    padding-top: 15px;
}